name: Build and Push Docker image to GCR

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GCR
        uses: docker/login-action@v3
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCR_JSON_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image to GCR
        uses: docker/build-push-action@v6
        env:
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            gcr.io/${{ env.PROJECT_ID }}/static-website:latest
            gcr.io/${{ env.PROJECT_ID }}/static-website:${{ github.sha }}
